<main class="dashboard">

  <header>

    <span>
      ELECTRONIC LIBRARY
    </span>

    <h1>
      لوحة التحكم
    </h1>

    <p>
      إدارة المكتبة الإلكترونية
    </p>

  </header>

  <section class="cards">

    <a
      routerLink="/admin/books"
      class="card"
    >

      <strong>📚</strong>

      <h2>
        إدارة الكتب
      </h2>

      <p>
        إضافة وتعديل وحذف الكتب.
      </p>

    </a>

    <a
      routerLink="/books"
      class="card"
    >

      <strong>🔎</strong>

      <h2>
        عرض المكتبة
      </h2>

      <p>
        مشاهدة جميع الكتب.
      </p>

    </a>

  </section>

</main>
